<div class="body-style">
  <%= image_tag("welcome.png",:class => "welcome") %>

  <h1>Visit an old friend...</h1>

  <% @users.each do |user| %>
    <h2><%= link_to user.name, username_path(user) %></h2>
  <% end %>
</div>
