body {
  background-color: white;
  background-image: image-url("flowers.jpg");
  background-repeat: no-repeat;
  position: relative;
  margin-top: 35px;
  margin-bottom: 35px;
  h1 {
    text-align: center;
  }
}

input[type="submit"] {
  box-shadow: inset 0 -2px;
  background-image: none;
  border-radius: 5px;
  text-shadow: none;
  transition: all 0.2s;
  min-height: 3em;
  font-size: 13px;
  line-height: 1em;
  padding: 1em;
  border: none;
  text-align: center;
  color: #FFF;
  background-color: #979c9e;
  font-family: 'Lato', sans-serif;
}

input {
  width: 20%;
  background-color: #FFF;
  color: #8a8a8a;
  border-radius: 5px;
  min-height: 3em;
  font-size: 13px;
  font-family: 'Lato', sans-serif;
  line-height: 1.4em;
  padding: 0.7em;
  border: 1px solid;
  box-sizing: border-box;
  background-clip: padding-box;
  border-color: #e1e1e1;
  outline: 0;
  margin: 0;
  text-align: left;
  height: 1.8em;
  vertical-align: top;
}

#session_password, #session_username {
  width: 20%;
  background-color: #FFF;
  color: #8a8a8a;
  border-radius: 5px;
  min-height: 3em;
  font-size: 13px;
  font-family: 'Lato', sans-serif;
  line-height: 1.4em;
  padding: 0.7em;
  border: 1px solid;
  box-sizing: border-box;
  background-clip: padding-box;
  border-color: #e1e1e1;
  outline: 0;
  margin: 0;
  text-align: left;
  height: 1.8em;
  vertical-align: top;
}

h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  color: #555;
}

a {
  color: #555;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}


a:hover {
    color: #d3d2cf;
}


.profile {
  text-align: center;
  font-family: 'Lato', sans-serif;
  h1 {
    border-bottom: 2px solid #999;
    color: #555;
  }
}

.profile_pic {
  text-align: center;
  background-color: transparentize(white, .3);
  padding: 0.7em;
}

.body-style {
  text-align: center;
  background-color: transparentize(white, .3);
  padding: 0.9em;
  h1 {
    border-bottom: 2px solid #999;
    color: #555;
    font-family: 'Oleo Script', cursive;
  }
}

.welcome {
  height: 250px;
  border-radius:30px;
}

ul {
  list-style-type: none;
}

.navigation-bar {
  a {
    color: white;
    text-decoration: none;
    font-family: 'Oleo Script', cursive;
    font-size: x-large;
    text-shadow: 2px 2px #494949;
  }
}
